body {
    margin: 0 auto;
    box-sizing: border-box;
}
.wrapper {
    padding: 25px;
}
.background__linear {
    padding: 25px;
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 0.5),  rgba(244, 244, 244, 0.8) 50% ),
    url('../images/BackgroundMain.png');
}

.background__main {
    padding-top: 305px;
    padding-bottom: 304px;       
}

a {
    text-decoration: none;
    color: black;
    
}

// ============================= Logos and Pictures =================================

.picture__big {
    width: 100%;
    margin-top: 57px;
}

.logo {    
    width: 188px;
    height: 203px;
    display: block;
    margin: 0 auto;
}
//============================== Colors ==============================================

.green {
    color: rgba(83, 232, 139);
}
.grey {
    color: grey;
}
$light-orange: rgba(255, 144, 18, 0.1);
$orange: rgba(218, 99, 23, 1);


.orange {
    color: $orange;
}

.white {
    color: #ffffff !important;
}
//============================== Headers and texts ===================================
.header_22 {
    font-size: 22px;
    text-align: center;
    font-weight: 600;        
}
.header_25 {
    font-size: 25px;    
    font-weight: 600;        
}
.subheader {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.text__12__normal {
    font-size: 12px;    
    font-weight: 400;  
}
.text__14__normal {
    font-size: 14px;    
    font-weight: 400;  
}

.text__14__bold {
    font-style: 14px;
    font-weight: 600;
}
.center {
    text-align: center;
}
//============================= Buttons =================================================

button {
    cursor: pointer;  
    border: none;
    border-radius: 15px;  
}

.button__green {
    width: 157px;
    height: 57px;    
    background: linear-gradient(to right, rgba(83, 232, 139), rgba(21, 190, 119));  
    display: block; 
    margin: auto;
    margin-top: 42px;
    margin-bottom: 35px;
}

.button__text {
    color: #ffffff;
    font-size: 16px;   
}

.button__light-orange {
    background-color: $light-orange;
    width: 45px;
    height: 45px;
    
}

// =============================== Inputs =================================================

.input {
    width: 90%;
    height: 57px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    
}

.input__icon {
    position: relative;
        
    &:before {
      content: '';
      position: absolute;
      top: 5px;
      bottom: 0;
      left: 20px;
      margin: auto 0;
      width: 25px;
      height: 25px;      
      background-size: cover;
      margin-bottom: 25px;
    }
    
    & .input {
        padding-left: 60px;
        width: 100%;     
          
    }
}

// ==================================== flex ====================================

.flex {
    display: flex;
    
    & .flex-row {
        flex-direction: row;
    }

    & .space-between  {
        justify-content: space-between;
    }

    & .justify-center {
        justify-content: center;
    }

    & .align-center {
        align-items: center;
    }
}

//========================================================================================================


@keyframes example {
    from {
        background-color: red;}
    to {
        background-color: blue;}
  }
.darkened {
    animation-name: example;
    animation-duration: 4s;
}